::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.45);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.conversation-messages::-webkit-scrollbar {
  width: 4px;
}

.conversation-messages::-webkit-scrollbar-track {
  background: transparent;
}

.conversation-messages::-webkit-scrollbar-thumb {
  background: rgba(34, 86, 73, 0.45);
}
